Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Bump version from 3.1.9 to 3.2.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

update
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

fix typeguard
  .pre-commit-config.yaml
  cornflakes/click/options/_auto_option.py
  cornflakes/decorator/_click_cli.py
  cornflakes/decorator/_types.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/config/_load_config_group.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/ini.py
  cornflakes/decorator/config/yaml.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/_enforce_types.py
  cornflakes/decorator/dataclass/_field.py
  cornflakes/decorator/dataclass/helper.py
  tests/test_cli.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: db8a6dcf1f0ed3f980fa70743d35cd576f201e98
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix read the docs
  .readthedocs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

change docs
  cornflakes/__init__.py
  cornflakes/builder/__init__.py
  cornflakes/click/__init__.py
  cornflakes/click/options/__init__.py
  cornflakes/click/rich/__init__.py
  cornflakes/common/__init__.py
  cornflakes/common/_patch_module.py
  cornflakes/decorator/__init__.py
  cornflakes/decorator/config/__init__.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/dataclass/__init__.py
  cornflakes/decorator/dataclass/validator/__init__.py
  cornflakes/logging/__init__.py
  cornflakes/parser/__init__.py
  docs/conflates.rst
  docs/cornflakes.cli.rst
  docs/cornflakes.decorator.dataclass.rst
  docs/cornflakes.rst
  docs/index.rst
  docs/reference.rst
  docs/usage.rst
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

update patch_module
  cornflakes/__init__.py
  cornflakes/builder/_generate_config_module.py
  cornflakes/common/_patch_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.0 to 3.2.1
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: b98319b5e32b1d4de7c104b242bf8ed125b4c650
  .buildinfo
  _sources/conflates.rst.txt
  _sources/cornflakes.cli.rst.txt
  _sources/cornflakes.decorator.dataclass.rst.txt
  _sources/cornflakes.rst.txt
  _sources/index.rst.txt
  _sources/reference.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix patch_module when generating module
  cornflakes/__init__.py
  cornflakes/builder/__init__.py
  cornflakes/builder/_generate_config_module.py
  cornflakes/common/_patch_module.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix patch_module when generating module
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

Bump version from 3.2.1 to 3.2.2
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 4d5558ee1edcf6e2fe08efb5ca0a2177debf25aa
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix patch_module to run only once
  cornflakes/common/_patch_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.2 to 3.2.3
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: efe641a40a22ce12e9c0c9ba084a84c70cf71a10
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

add new line after patch_module
  cornflakes/common/_patch_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.3 to 3.2.4
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 72155ece7ec9635eb6511f1c31d40faf43472c9f
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix patch_module
  cornflakes/common/_patch_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.4 to 3.2.5
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: e70a34afd278c905b05eeaa2752cce399b3ab465
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

feat(extend field): add more arguments / parameters like in Pydantic Field
  cornflakes/decorator/dataclass/_enforce_types.py
  cornflakes/decorator/dataclass/_field.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.5 to 3.2.6
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix pytype error in _field
  cornflakes/decorator/dataclass/_field.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

feat(enum module from dict): implement generate_enum_module_from_dict in builder module
  cornflakes/builder/__init__.py
  cornflakes/builder/_generate_enum_module_from_dict.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix generate enum module from dict
  cornflakes/builder/_generate_enum_module_from_dict.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

rename generate enum module and add list support
  cornflakes/builder/__init__.py
  cornflakes/builder/_generate_enum_module.py
  cornflakes/builder/_generate_enum_module_from_dict.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

enrich enum generation feature
  cornflakes/builder/_generate_enum_module.py
  cornflakes/common/_patch_module.py
  cornflakes/decorator/dataclass/_field.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix logging module
  cornflakes/logging/logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix logging module
  cornflakes/click/options/__init__.py
  cornflakes/click/options/_verbose.py
  cornflakes/logging/logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

try fix pytype error
  cornflakes/decorator/dataclass/_field.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: de2a6ab3ad5c2829236c8dcb4c639009763ff966
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix eval_csv empty
  inst/_cornflakes/bindings.cpp
Due: check-added-large-files, end-of-file-fixer

Bump version from 3.2.6 to 3.2.7
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 07596f9486509ce76ad9a3f014b2f2b755c51762
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

add feature to update dataclass slots by a dict if not frozen
  cornflakes/decorator/dataclass/_dataclass.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.7 to 3.2.8
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
