Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
            exclude: |
                (?x)^(
                inst/_cornflakes/strtk/strtk.hpp
                )$
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
            args: ["--unsafe"]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
            exclude: docs/
          - id: autoflake
            name: autoflake
            entry: autoflake
            language: python
            "types": [python]
            require_serial: true
            args:
                - "--in-place"
                - "--expand-star-imports"
                - "--remove-duplicate-keys"
                - "--remove-unused-variables"
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]
            require_serial: true
          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [python]
            args: [--py38-plus]
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.0.0-alpha.4
      hooks:
          - id: prettier
    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
          - id: isort
            name: isort (python)
          - id: isort
            name: isort (cython)
            types: [cython]
          - id: isort
            name: isort (pyi)
            types: [pyi]
    - repo: https://github.com/cheshirekow/cmake-format-precommit
      rev: v0.6.13
      hooks:
          - id: cmake-format
            additional_dependencies: [pyyaml]
            types: [file]
            files: (\.cmake|CMakeLists.txt)(.in)?$
    - repo: https://github.com/pre-commit/mirrors-clang-format
      rev: v14.0.6
      hooks:
          - id: clang-format
            args: [--style=Google]
    - repo: https://github.com/bmorcos/pre-commit-hooks-cpp
      rev: 9a5aa38207bf557961110d6a4f7e3a9d352911f9
      hooks:
          - id: cpplint
            args:
                [
                    --exclude=inst/ext/*,
                    --exclude=inst/_cornflakes/datetime_utils.h,
                    --exclude=inst/_cornflakes/strtk/*,
                    --exclude=inst/_cornflakes/hash-library/*,
                    --exclude=cmake-build-debug/*,
                    --filter=-build/c++11,
                ]

fix feature for requirsive enforce types for dataclasses inside dataclasses
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change eval_csv add unique_types argument
  inst/_cornflakes/bindings.cpp
  inst/_cornflakes/string_operations.cpp
  inst/_cornflakes/string_operations.hpp
Due: check-added-large-files, end-of-file-fixer

deploy: adadbcac7557176017865bd4e7fe4640d01700c4
  .buildinfo
Due: check-added-large-files, end-of-file-fixer

change eval_csv add unique_types argument
  inst/_cornflakes/bindings.cpp
Due: check-added-large-files, end-of-file-fixer

optimised eval_csv method for small csv chunks up to 100000 bytes to detect csv format metadata
  htw-logger.ini
  inst/_cornflakes/bindings.cpp
  inst/_cornflakes/string_operations.cpp
  inst/_cornflakes/string_operations.hpp
Due: check-added-large-files, end-of-file-fixer

fix config load
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix config builder
  cornflakes/builder/_generate_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add column count to eval_csv
  inst/_cornflakes/string_operations.cpp
Due: check-added-large-files, end-of-file-fixer

fix header Names in eval_csv
  inst/_cornflakes/string_operations.cpp
Due: check-added-large-files, end-of-file-fixer

fix header Names in eval_csv
  inst/_cornflakes/string_operations.cpp
  inst/_cornflakes/string_operations.hpp
Due: check-added-large-files, end-of-file-fixer

fix eval_csv
  inst/_cornflakes/string_operations.cpp
Due: check-added-large-files, end-of-file-fixer

Bump version from 3.1.2 to 3.1.3
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 8742fae11a82a69730db98f30ed77bd64968d609
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

add validation to AnyUrl
  cornflakes/decorator/dataclass/validator/url.py
  poetry.lock
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix tests for eval_csv
  inst/_cornflakes/bindings.cpp
  inst/_cornflakes/string_operations.cpp
  inst/_cornflakes/string_operations.hpp
  poetry.lock
  pyproject.toml
  tests/smallwikipedia.csv
  tests/test_eval_csv.py
  tests/test_speed.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix test-all
  cornflakes/builder/_generate_config_module.py
  cornflakes/click/options/_auto_option.py
  cornflakes/click/options/_bg_process.py
  cornflakes/click/rich/_rich_click.py
  cornflakes/click/rich/_rich_global_option_wrapper.py
  cornflakes/decorator/config/ini.py
  cornflakes/decorator/dataclass/_enforce_types.py
  inst/_cornflakes/endian.h
  inst/_cornflakes/string_operations.cpp
  pyproject.toml
  tests/configs/default.py.txt
  tests/configs/default_auto_created.ini
  tests/test_speed.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix test-all
  cornflakes/builder/_generate_config_module.py
  tests/configs/default.py
  tests/configs/default.py.txt
  tests/test_speed.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add skip speed test on nox tests
  noxfile.py
  tests/test_speed.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change nox conf
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add manylinux build
  .github/workflows/build_package.yml
  .gitlab-ci.yml
  tests/test_speed.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

add manylinux build
  .github/workflows/build_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

add manylinux build
  .github/workflows/publish_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer
