Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

deploy: 51b628f343c25cb4f8f8dcd83c4882ad01fc9acc
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.config.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

change logo size
  README.rst
Due: check-added-large-files, end-of-file-fixer

deploy: cd50da7d5f82a5a8afac7f1b1b6ebfd41fe51555
  index.html
  readme.html
Due: check-added-large-files, end-of-file-fixer

deploy: 1365822d700417a6dd51182f9e24eae7eace88f6
  index.html
  readme.html
Due: check-added-large-files, end-of-file-fixer

remove header
  README.rst
Due: check-added-large-files, end-of-file-fixer

deploy: 44d0845dfbfad77e169aff06b2caea5cfd24a62e
  index.html
  readme.html
Due: check-added-large-files, end-of-file-fixer

deploy: 22ced3e811d1f02a15a29b79923afa1759cda566
  index.html
  readme.html
Due: check-added-large-files, end-of-file-fixer

deploy: a9405df29e269fc2407419f3d832634b0bf69ba1
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.config.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

skip enforce_type isort
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change logo from local to remote
  README.rst
Due: check-added-large-files, end-of-file-fixer

fix PR check
  .github/workflows/main_master_branch_protection.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

deploy: b8120a64d14d2e2a6760de48fcd8f2d7a97ae077
  index.html
  readme.html
Due: check-added-large-files, end-of-file-fixer

add examples
  docs/conf.py
  examples/README.rst
  examples/boto3_client.py
  examples/fastapi_settings.py
  inst/cornflakes/string_operations.cpp
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add examples
  examples/README.rst
Due: check-added-large-files, end-of-file-fixer

add examples
  docs/requirements.txt
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add examples in rst
  docs/cornflakes.decorator.config.rst
  docs/cornflakes.decorator.config.validator.rst
  docs/cornflakes.decorator.dataclass.rst
  docs/cornflakes.decorator.dataclass.validator.rst
  docs/cornflakes.decorator.rst
  docs/examples.rst
  docs/index.rst
  examples/README.rst
Due: check-added-large-files, end-of-file-fixer

deploy: 6d1aa62e9620df3772f0ba947d3ab7960bfbcc8c
  _sources/cornflakes.decorator.config.rst.txt
  _sources/cornflakes.decorator.config.validator.rst.txt
  _sources/cornflakes.decorator.dataclass.rst.txt
  _sources/cornflakes.decorator.dataclass.validator.rst.txt
  _sources/cornflakes.decorator.rst.txt
  _sources/examples.rst.txt
  _sources/index.rst.txt
  _sources/requirements.txt
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

Bump version from 3.0.5 to 3.0.6
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 19ecbcabfc76c0dfe26e136d6fed0138f79d3a0e
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix Optional Types in enfroce types
  cornflakes/decorator/dataclass/_enforce_types.py
  examples/fastapi_settings.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.0.6 to 3.0.7
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 619c5c7fa4c5f8ea4901ce6cd80ab86eca9f1fe1
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix AnyUrl and Missing Fields on config load
  .github/workflows/sync_project.yml
  cornflakes/common/__init__.py
  cornflakes/decorator/config/_helper.py
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/dataclass/_enforce_types.py
  cornflakes/decorator/dataclass/validator/url.py
  examples/fastapi_settings.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix AnyUrl and Missing Fields on config load
  cornflakes/common/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.0.7 to 3.0.8
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 3fdbed33fafb6e12c49ff47cb563c4ac6e2d1054
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

change workflow add more arch types
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer

deploy: 19965907cf15ae7249861ffaecb185e294a2be9e
  .buildinfo
Due: check-added-large-files, end-of-file-fixer

rollback
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

deploy: d78fb00e3c60eb6d9c991545928e5145b456398c
  .buildinfo
Due: check-added-large-files, end-of-file-fixer

change cpp code path again
  .cookietemple.yml
  .github/release-drafter.yml
  .pre-commit-config.yaml
  build.py
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  inst/_cornflakes/bindings.cpp
  inst/_cornflakes/bindings.hpp
  inst/_cornflakes/datetime_utils.hpp
  inst/_cornflakes/digest.cpp
  inst/_cornflakes/digest.hpp
  inst/_cornflakes/endian.h
  inst/_cornflakes/ini.cpp
  inst/_cornflakes/ini.hpp
  inst/_cornflakes/string_operations.cpp
  inst/_cornflakes/string_operations.hpp
  inst/_cornflakes/system_operations.cpp
  inst/_cornflakes/system_operations.hpp
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 41db55b10e54d67d57df0966b8a3fdd13a5ed146
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix AnyUrl
  README.rst
  cornflakes/cli/__init__.py
  cornflakes/click/options/_auto_option.py
  cornflakes/common/_wrap_kwargs.py
  cornflakes/decorator/dataclass/_field.py
  cornflakes/decorator/dataclass/validator/url.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 25f048d8844604834e852bb0ffad5045d88d0658
  .buildinfo
  index.html
  readme.html
Due: check-added-large-files, end-of-file-fixer

fix AnyUrl
  cornflakes/common/__init__.py
  cornflakes/decorator/_wrap_kwargs.py
  cornflakes/decorator/_wrap_partial.py
  cornflakes/decorator/dataclass/_enforce_types.py
  tests/configs/sub_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix enforce types with nested Special Classes
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix ini_load first row without Section
  inst/_cornflakes/ini.cpp
  tests/test_ini_load.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix sections restruktion for sections = {None: None} and None
  inst/_cornflakes/ini.cpp
  tests/test_ini_load.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
