Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

deploy: cf523938efe3557d19332299f297029b36f46170
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix auto_option
  cornflakes/click/options/_auto_option.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.8 to 3.2.9
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 49cdb1e4d581a390d398e5ecfa1afcc424060e09
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix ini_load
  README.rst
  build.py
  inst/_cornflakes/ini.cpp
  makefiles/Linux.mk
  poetry.lock
  tests/configs/aws_config
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.2.9 to 3.3.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

try fix windows test
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

try fix windows test
  build.py
  cornflakes/decorator/config/yaml.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix build package
  README.rst
Due: check-added-large-files, end-of-file-fixer

try fix windows test
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

try fix windows test
  .github/workflows/run_tests.yml
  README.rst
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

try debug windows test failure
  .github/workflows/run_tests.yml
  build.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

try debug windows test failure
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

try debug windows test failure
  build.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

try debug windows test failure
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change builder - add decscription params
  cornflakes/builder/_generate_config_module.py
  cornflakes/builder/_generate_enum_module.py
  cornflakes/builder/config_template.py
  tests/configs/default.py
  tests/configs/default.py.txt
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add py.typed
  cornflakes/py.typed
Due: check-added-large-files, end-of-file-fixer

fix rich click
  cornflakes/click/rich/_rich_click.py
  cornflakes/click/rich/_rich_config.py
  examples/rich_click_example.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix pytype
  cornflakes/click/rich/_rich_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 9ce43d1eb8d22b779f1e0ac2261cc703f203b034
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix to_ini_bytes
  cornflakes/common/_type_to_str.py
  cornflakes/decorator/config/ini.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.3.0 to 3.3.1
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 061bf1721bf98f3ea0c75308d588b11ab3f1e501
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix type_to_str
  cornflakes/common/_type_to_str.py
  cornflakes/decorator/_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.3.1 to 3.3.2
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 7ef943ca76d9ad37e5fd88db1a896c4224c0c9fc
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

Bump version from 3.3.2 to 3.3.3
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  cornflakes/common/_type_to_str.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix type_to_str
  tests/configs/default_auto_created.ini
Due: check-added-large-files, end-of-file-fixer

deploy: 723a935ddd8ee0d0eace80793aae4fff34984af9
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix type_to_str
  cornflakes/common/_type_to_str.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.3.3 to 3.3.4
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 73cfa8c26ebab030a8e20965ec7975a215a39202
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix Multiple top-level packages
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

revert changes
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
