Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

add manylinux build
  .github/workflows/publish_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

add manylinux release
  .github/workflows/publish_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

remove excecution.h in string_operations.h -> fix error on build docs in readthedocs
  inst/_cornflakes/string_operations.hpp
Due: check-added-large-files, end-of-file-fixer

change logo
  assets/cornflakes.png
Due: check-added-large-files, end-of-file-fixer

add manylinux 2014 release
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

deploy: 5d07012b9ad91b1d9b55e1a494d6875a2c283c84
  _static/css/theme.css
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

change endian
  inst/_cornflakes/endian.h
  inst/_cornflakes/endian_linux.h
Due: check-added-large-files, end-of-file-fixer

remove changelog action
  .github/workflows/changelog.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

change endian usage
  build.py
  inst/_cornflakes/cross_endian.h
  inst/_cornflakes/endian_linux.h
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change build workflow
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Bump version from 3.1.3 to 3.1.4
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: c3a30812912e0f369430161c605e1edc1ec21dfe
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

change build-system
  build.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.1.4 to 3.1.5
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: c945398e900d5a7e809a4e866ba50e80c5c68538
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix generate config module
  cornflakes/builder/_generate_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add enum to type_to_str
  .gitignore
  .pre-commit-config.yaml
  cornflakes/common/_type_to_str.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

add enum to type_to_str
  .gitignore
  poetry.lock
  tests/configs/default.ini
  tests/configs/default_auto_created.ini
  tests/configs/sub_config.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.1.5 to 3.1.6
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

remove language from docs conf
  docs/conf.py
Due: black, check-added-large-files, autoflake, flake8, pyupgrade

update docs deps
  docs/requirements.txt
Due: check-added-large-files

remove sphinxcontrib-inlinesyntaxhighlight
  docs/conf.py
  docs/cornflakes.decorator.rst
  docs/cornflakes.logging.rst
  docs/requirements.txt
Due: black, check-added-large-files, autoflake, flake8, pyupgrade

change pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

add indexer Type
  cornflakes/__init__.py
  cornflakes/common/_patch_module.py
  cornflakes/decorator/__init__.py
  cornflakes/decorator/_funcat.py
  cornflakes/decorator/_indexer.py
  cornflakes/decorator/config/__init__.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/config/_load_config_group.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/ini.py
  cornflakes/decorator/config/tuple.py
  cornflakes/decorator/dataclass/_enforce_types.py
  cornflakes/decorator/dataclass/helper.py
  tests/configs/default.ini
  tests/configs/default_auto_created.ini
  tests/configs/sub_config.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add indexer Type
  cornflakes/decorator/_indexer.py
  cornflakes/decorator/dataclass/validator/url.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.1.6 to 3.1.7
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

add pytype ignore
  tests/configs/sub_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: b7acc2ad9e6996cce21081a307108be707a63513
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix patch_module
  cornflakes/common/_patch_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.1.7 to 3.1.8
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 1179edd920098acb277a577d43f10f87c7296c02
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

Bump version from 3.1.8 to 3.1.9
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: c80ce759e34ea847ab598c8adcf03ed6c2103652
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
