Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

fix Multiple top-level packages
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

fix Multiple top-level packages
  build.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

try fix https://github.com/python-poetry/poetry/issues/7577 for installation from repository
  build.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

try fix https://github.com/python-poetry/poetry/issues/7577 for installation from repository
  build.py
  cornflakes/decorator/config/ini.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix ini load for escaped chars like \n, \t, \r, \
  cornflakes/common/_type_to_str.py
  cornflakes/decorator/dataclass/_enforce_types.py
  inst/_cornflakes/string_operations.cpp
  inst/_cornflakes/string_operations.hpp
  tests/configs/default.ini
  tests/configs/default_auto_created.ini
  tests/configs/sub_config.py
  tests/test_config_module.py
  tests/test_eval_type.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to ini when emtpy value
  cornflakes/decorator/config/ini.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to ini when emtpy value
  cornflakes/common/_type_to_str.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to ini when emtpy value
  cornflakes/decorator/config/ini.py
  inst/_cornflakes/string_operations.hpp
  tests/configs/default.ini
  tests/configs/default_auto_created.ini
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to enforce_types for default str -> '' instead 'None'
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to enforce_types for default str -> '' instead 'None'
  cornflakes/decorator/dataclass/_enforce_types.py
  tests/configs/default.ini
  tests/configs/default_auto_created.ini
  tests/configs/sub_config.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix wrong section name in to_ini -> use section_name attribute or first of __config_sections__
  cornflakes/decorator/config/ini.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add test for to_ini with other section name
  cornflakes/decorator/config/ini.py
  tests/configs/__init__.py
  tests/configs/default.py
  tests/configs/default.py.txt
  tests/configs/sub_config.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add as_command attribute for click_cli decorator
  cornflakes/__main__.py
  cornflakes/click/__init__.py
  cornflakes/decorator/_click_cli.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change license
  .cookietemple.yml
  .github/workflows/publish_package.yml
  LICENSE
  README.rst
  docs/contributing.rst
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer

change main to click command
  cornflakes/__main__.py
  cornflakes/decorator/_click_cli.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

revert license changes
  .cookietemple.yml
  LICENSE
  README.rst
  docs/contributing.rst
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer

change readme
  README.rst
Due: check-added-large-files, end-of-file-fixer

fix click_cli annotation
  cornflakes/decorator/_click_cli.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

restructure project -> click into decorator module
  cornflakes/__init__.py
  cornflakes/__main__.py
  cornflakes/builder/_generate_config_module.py
  cornflakes/click/__init__.py
  cornflakes/click/options/__init__.py
  cornflakes/decorator/__init__.py
  cornflakes/decorator/click/__init__.py
  cornflakes/decorator/click/_click_cli.py
  cornflakes/decorator/click/options/__init__.py
  cornflakes/decorator/click/options/_auto_option.py
  cornflakes/decorator/click/options/_bg_process.py
  cornflakes/decorator/click/options/_global.py
  cornflakes/decorator/click/options/_verbose.py
  cornflakes/decorator/click/rich/__init__.py
  cornflakes/decorator/click/rich/_rich_argument.py
  cornflakes/decorator/click/rich/_rich_click.py
  cornflakes/decorator/click/rich/_rich_command.py
  cornflakes/decorator/click/rich/_rich_config.py
  cornflakes/decorator/click/rich/_rich_global_option_wrapper.py
  cornflakes/decorator/click/rich/_rich_group.py
  cornflakes/decorator/config/__init__.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/config/_load_config_group.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/ini.py
  cornflakes/decorator/config/yaml.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/_enforce_types.py
  cornflakes/decorator/dataclass/_field.py
  cornflakes/decorator/dataclass/helper.py
  cornflakes/decorator/types.py
  tests/test_cli.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add ruff to pre-commit
  .bandit.yml
  .cookietemple.yml
  .darglint
  .flake8
  .pre-commit-config.yaml
  .prettierignore
  cornflakes/__init__.py
  cornflakes/common/__init__.py
  cornflakes/decorator/__init__.py
  cornflakes/decorator/click/__init__.py
  cornflakes/decorator/click/options/__init__.py
  cornflakes/decorator/click/rich/__init__.py
  cornflakes/decorator/config/__init__.py
  cornflakes/decorator/dataclass/__init__.py
  cornflakes/decorator/dataclass/_enforce_types.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

insert datalite module
  cornflakes/builder/_generate_config_module.py
  cornflakes/builder/config_template.py
  cornflakes/decorator/datalite/__init__.py
  cornflakes/decorator/datalite/commons.py
  cornflakes/decorator/datalite/constraints.py
  cornflakes/decorator/datalite/datalite_decorator.py
  cornflakes/decorator/datalite/fetch.py
  cornflakes/decorator/datalite/mass_actions.py
  cornflakes/decorator/datalite/migrations.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

first refactor and add validators + formatters for DB-Types to support more specific conversion -> e.g. here UUID
  .gitignore
  .pre-commit-config.yaml
  cornflakes/decorator/dataclass/helper.py
  cornflakes/decorator/datalite/commons.py
  cornflakes/decorator/datalite/constraints.py
  cornflakes/decorator/datalite/datalite_decorator.py
  cornflakes/decorator/datalite/fetch.py
  cornflakes/decorator/datalite/mass_actions.py
  cornflakes/decorator/datalite/migrations.py
  tests/test_datalite.py
  tests/test_eval_type.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

change docker image
  Dockerfile
Due: check-added-large-files, end-of-file-fixer

patch todict / astuple - inner method of dataclass to prevent deepcopy
  cornflakes/decorator/click/_click_cli.py
  cornflakes/decorator/dataclass/__init__.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/helper.py
  tests/test_datalite.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

rewrite custom todict / astuple - inner method of dataclass to prevent deepcopy
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/tuple.py
  cornflakes/decorator/dataclass/__init__.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/helper.py
  cornflakes/decorator/dataclass/validator/url.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
