Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

deploy: b4dd1275cd03724d563474f319e2eecdbcc4a719
  _sources/cornflakes.decorator.config.rst.txt
  _sources/cornflakes.decorator.config.validator.rst.txt
  cornflakes.decorator.config.validator.html
  cornflakes.decorator.html
  cornflakes.html
  index.html
  objects.inv
  readme.html
  searchindex.js
Due: check-added-large-files, end-of-file-fixer

fix logging
  README.rst
  cornflakes/decorator/_types.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/ini.py
  cornflakes/decorator/config/tuple.py
  cornflakes/decorator/config/yaml.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/validator/url.py
  cornflakes/logging/_logger.py
  noxfile.py
  tests/configs/default.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: b8d973c2f144d0ff462d1a43c3293911d6da90bc
  index.html
  readme.html
  searchindex.js
Due: check-added-large-files, end-of-file-fixer

fix logging
  cornflakes/builder/_generate_config_module.py
  cornflakes/builder/config_template.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix ini load on first section
  inst/_cornflakes/ini.cpp
Due: check-added-large-files, end-of-file-fixer

fix passing filter_function
  cornflakes/decorator/_types.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/config/_load_config_group.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix allow_empty and filter_function
  cornflakes/decorator/config/_helper.py
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix allow_empty and filter_function
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/config/_load_config_group.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix circular import
  cornflakes/decorator/config/_load_config_group.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to_dict / to_tuple and tests
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/tuple.py
  tests/configs/default.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to_dict / to_tuple
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/tuple.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix import_component to load function and other module component directly
  cornflakes/common/_import_component.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/dataclass/_dataclass.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix import_component to load function and other module component directly
  cornflakes/common/_import_component.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix filter_function in builder
  cornflakes/builder/_generate_config_module.py
  cornflakes/decorator/__init__.py
  cornflakes/decorator/_click_cli.py
  cornflakes/decorator/_types.py
  cornflakes/decorator/config/__init__.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_helper.py
  cornflakes/decorator/config/_loader.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/tuple.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix filter_function in builder
  cornflakes/builder/_generate_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix filter_function in builder
  cornflakes/builder/_generate_config_module.py
  cornflakes/decorator/_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix filter_function in builder
  cornflakes/builder/_generate_config_module.py
  cornflakes/common/__init__.py
  cornflakes/common/_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix filter_function in builder
  cornflakes/builder/_generate_config_module.py
  cornflakes/common/__init__.py
  cornflakes/common/_extract_var_names.py
  cornflakes/common/_import_component.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add module patch method to all modules
  cornflakes/__init__.py
  cornflakes/builder/__init__.py
  cornflakes/builder/_generate_config_module.py
  cornflakes/click/__init__.py
  cornflakes/click/options/__init__.py
  cornflakes/click/rich/__init__.py
  cornflakes/common/__init__.py
  cornflakes/common/_patch_module.py
  cornflakes/common/_types.py
  cornflakes/decorator/__init__.py
  cornflakes/decorator/config/__init__.py
  cornflakes/decorator/dataclass/__init__.py
  cornflakes/decorator/dataclass/validator/__init__.py
  cornflakes/logging/__init__.py
  cornflakes/parser/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to dict / to tuple
  cornflakes/builder/_generate_config_module.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/tuple.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

builder
  cornflakes/builder/_generate_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add debug logs to run in background option
  cornflakes/click/options/_bg_process.py
  cornflakes/decorator/config/_helper.py
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

overwrite pass_context function with wraps
  cornflakes/click/rich/__init__.py
  cornflakes/click/rich/_pass_context.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

overwrite pass_context function with wraps
  cornflakes/click/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

overwrite pass_context function into command / group decorator
  cornflakes/click/__init__.py
  cornflakes/click/rich/__init__.py
  cornflakes/click/rich/_pass_context.py
  cornflakes/click/rich/_rich_global_option_wrapper.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

bump version to 3.0.4
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  cornflakes/decorator/_click_cli.py
  cornflakes/decorator/_types.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/tuple.py
  docs/conf.py
  inst/_cornflakes/ini.cpp
  pyproject.toml
  tests/configs/default.py
  tests/configs/default.py.txt
  tests/configs/some_config
  tests/test_config_module.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 01e02d4d7ec641890da67efca56156ba5921f53d
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.config.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

deploy: d6363202788bc3c7d4d80adb1cd901f234692112
  index.html
  readme.html
  searchindex.js
Due: check-added-large-files, end-of-file-fixer

fix github actions
  .github/workflows/run_tests.yml
  README.rst
Due: check-added-large-files, check-yaml, end-of-file-fixer

deploy: 7f78113965a726f05d04c8fcb222d7f2365b6376
  index.html
  readme.html
  searchindex.js
Due: check-added-large-files, end-of-file-fixer

fix endian.h
  inst/cornflakes/endian.h
Due: check-added-large-files, end-of-file-fixer

fix tests
  .pre-commit-config.yaml
  CMakeLists.txt
  README.rst
  assets/cornflakes.png
  inst/cornflakes/datetime_utils.hpp
  inst/cornflakes/ini.cpp
  inst/cornflakes/string_operations.cpp
Due: check-added-large-files, check-yaml, end-of-file-fixer

deploy: da83fe81ca5ce852b9e030d6a961dfccf70de9d4
  index.html
  readme.html
Due: check-added-large-files, end-of-file-fixer

bump version to 3.0.5
  build.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.0.4 to 3.0.5
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

change logo size
  README.rst
Due: check-added-large-files, end-of-file-fixer

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
