Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: python_venv
  require_serial: true
  additional_dependencies:
  - Flake8-pyproject

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

fix logger
  cornflakes/decorator/click/options/_verbose.py
  cornflakes/decorator/dataclass/_field.py
  cornflakes/logging/logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix logger
  cornflakes/logging/logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix tests
  cornflakes/__main__.py
  poetry.lock
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix xdocstest
  .pre-commit-config.yaml
  cornflakes/decorator/dataclass/_field.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix all tests
  cornflakes/decorator/dataclass/_field.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

update deps and remove cookietemple from sources
  .cookietemple.yml
  .github/workflows/run_cookietemple_lint.yml
  .github/workflows/sync_project.yml
  .prettierignore
  Dockerfile
  README.rst
  build.py
  cookietemple.cfg
  cornflakes/__init__.py
  docs/_static/custom.css
  docs/conf.py
  makefiles/Linux.mk
  pyproject.toml
  scripts/bump_version.sh
  scripts/update_deps.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

update scirpts
  scripts/update_deps.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

update noxfile for pre-commit deps
  noxfile.py
  poetry.lock
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add setuptools to install dependentcies in tests workflow
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

add setuptools to install dependentcies in tests workflow
  .github/workflows/run_tests.yml
  CMakeLists.txt
Due: check-added-large-files, check-yaml, end-of-file-fixer

try fix tests
  makefiles/Linux.mk
Due: check-added-large-files, end-of-file-fixer

try fix tests
  .github/workflows/run_tests.yml
  poetry.lock
Due: check-added-large-files, check-yaml, end-of-file-fixer

try fix tests
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change poetry lock
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

change dev dep´s
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change dev dep´s
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change pydantic dev dep
  tests/test_speed.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

bumpt version
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

add cmakelist again for development and change pydantic test comparisaion
  .gitmodules
  CMakeLists.txt
  cornflakes/__main__.py
  cornflakes/cli/__init__.py
  cornflakes/decorator/click/_click_cli.py
  cornflakes/decorator/click/rich/__init__.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/types.py
  cornflakes/packaging/__init__.py
  cornflakes/packaging/bump_version.py
  cornflakes/packaging/update_deps.py
  makefiles/Linux.mk
  scripts/bump_version.sh
  tests/test_cli.py
  tests/test_speed.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add cmakelist again for development and change pydantic test comparisaion
  cornflakes/decorator/dataclass/_dataclass.py
  tests/test_speed.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add toml dep
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

add skips to pre-commit ci
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

deploy: 326365681bde9965427c866652c6cb79db14ff65
  .buildinfo
  _static/css/theme.css
  _static/custom.css
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.common.html
  cornflakes.decorator.click.html
  cornflakes.decorator.click.options.html
  cornflakes.decorator.click.rich.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.datalite.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

change macos image in workflow
  .github/workflows/publish_package.yml
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

fix to_ini without section_name
  cornflakes/decorator/config/ini.py
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix to_ini without section_name
  cornflakes/decorator/config/ini.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

bump version
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

enrich click auto_option
  cornflakes/decorator/click/options/_auto_option.py
  cornflakes/decorator/dataclass/_field.py
  cornflakes/decorator/dataclass/helper.py
  cornflakes/decorator/types.py
  tests/configs/sub_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

enrich click auto_option
  cornflakes/decorator/dataclass/_field.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

enrich click auto_option
  cornflakes/decorator/dataclass/_field.py
  cornflakes/decorator/types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

enrich click auto_option - config_group support - auto_options_group generation - click param type generation
  .pre-commit-config.yaml
  README.rst
  build.py
  cornflakes/cli/__init__.py
  cornflakes/common/__init__.py
  cornflakes/common/_check_type.py
  cornflakes/common/_recursive_update.py
  cornflakes/decorator/click/_click_cli.py
  cornflakes/decorator/click/helper/__init__.py
  cornflakes/decorator/click/helper/_click_param_type_parser.py
  cornflakes/decorator/click/helper/_get_command_name.py
  cornflakes/decorator/click/options/__init__.py
  cornflakes/decorator/click/options/_auto_fill_option_groups.py
  cornflakes/decorator/click/options/_auto_option.py
  cornflakes/decorator/click/rich/_rich_command.py
  cornflakes/decorator/click/rich/_rich_global_option_wrapper.py
  cornflakes/decorator/click/rich/_rich_group.py
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/config/_load_config_group.py
  cornflakes/decorator/config/ini.py
  cornflakes/decorator/dataclass/__init__.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/_enforce_types.py
  cornflakes/decorator/dataclass/_validate.py
  cornflakes/decorator/dataclass/validator/url.py
  cornflakes/decorator/types.py
  cornflakes/parser/_yaml.py
  inst/_cornflakes/system_operations.cpp
  poetry.lock
  pyproject.toml
  tests/configs/default_auto_created.ini
  tests/configs/sub_config.py
  tests/test_config_module.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

enrich click auto_option - config_group support - auto_options_group generation - click param type generation
  cornflakes/decorator/click/helper/_click_param_type_parser.py
  docs/cornflakes.cli.rst
  docs/cornflakes.decorator.click.helper.rst
  docs/cornflakes.decorator.click.rst
  docs/cornflakes.decorator.datalite.rst
  docs/cornflakes.decorator.rst
  docs/cornflakes.packaging.rst
  docs/cornflakes.rst
  makefiles/Linux.mk
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

enrich click auto_option - config_group support - auto_options_group generation - click param type generation
  cornflakes/decorator/click/rich/_rich_global_option_wrapper.py
  cornflakes/decorator/dataclass/_validate.py
  cornflakes/packaging/update_deps.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

update deps change dataclass decorator
  cornflakes/builder/_generate_config_module.py
  cornflakes/decorator/click/__init__.py
  cornflakes/decorator/click/helper/_click_param_type_parser.py
  cornflakes/decorator/click/options/__init__.py
  cornflakes/decorator/click/options/_auto_option.py
  cornflakes/decorator/click/options/_config_option.py
  cornflakes/decorator/click/rich/_rich_global_option_wrapper.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/dataclass/__init__.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/_enforce_types.py
  cornflakes/decorator/dataclass/_validate.py
  cornflakes/decorator/dataclass/helper.py
  cornflakes/decorator/types.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
  tests/test_config_module.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

remove prints
  cornflakes/decorator/click/options/_config_option.py
  cornflakes/decorator/click/rich/_rich_global_option_wrapper.py
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix deps
  cornflakes/decorator/click/helper/_click_param_type_parser.py
  cornflakes/decorator/dataclass/_validate.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix update_deps
  cornflakes/packaging/update_deps.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

refactor all
  cornflakes/builder/_generate_config_module.py
  cornflakes/builder/_generate_enum_module.py
  cornflakes/common/_check_type.py
  cornflakes/decorator/_indexer.py
  cornflakes/decorator/click/_click_cli.py
  cornflakes/decorator/click/options/_config_option.py
  cornflakes/decorator/click/rich/_rich_config.py
  cornflakes/decorator/click/rich/_rich_global_option_wrapper.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/config/_write_config.py
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/config/yaml.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/dataclass/_validate.py
  cornflakes/decorator/dataclass/helper.py
  cornflakes/decorator/string_builder.py
  cornflakes/decorator/types.py
  cornflakes/logging/logger.py
  cornflakes/packaging/bump_version.py
  cornflakes/parser/_yaml.py
  examples/boto3_client.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp|pytest
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
