Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: python_venv
  require_serial: true
  additional_dependencies:
  - Flake8-pyproject

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

add pydantic speed comparision test
  poetry.lock
  pyproject.toml
  tests/configs/name_age
  tests/test_speed.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

update datalite type mapping
  .github/workflows/run_tests.yml
  .gitignore
  README.rst
  cornflakes/decorator/config/dict.py
  cornflakes/decorator/datalite/commons.py
  cornflakes/decorator/datalite/datalite_decorator.py
  docs/cornflakes.builder.rst
  docs/cornflakes.click.options.rst
  docs/cornflakes.click.rich.rst
  docs/cornflakes.click.rst
  docs/cornflakes.decorator.click.options.rst
  docs/cornflakes.decorator.click.rich.rst
  docs/cornflakes.decorator.click.rst
  docs/cornflakes.decorator.config.rst
  docs/cornflakes.decorator.datalite.rst
  docs/cornflakes.decorator.rst
  docs/cornflakes.rst
  tests/test_datalite.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix pre-commit.ci with not local repos
  .github/workflows/run_tests.yml
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

change macos-image for workflow
  .github/workflows/run_tests.yml
  cornflakes/decorator/__init__.py
  cornflakes/decorator/dataclass/_dataclass.py
  cornflakes/decorator/datalite/commons.py
  cornflakes/decorator/datalite/datalite_decorator.py
  cornflakes/decorator/datalite/mass_actions.py
  cornflakes/decorator/datalite/type_mapping.py
  cornflakes/decorator/string_builder.py
  tests/test_datalite.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

change macos-image for workflow
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

change macos-image for workflow
  .github/workflows/run_tests.yml
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer

change macos-image for workflow
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change macos-image for workflow
  .github/workflows/build_package.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

update poetry.lock
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

add python version
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

add pydantic to nox tests
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix zero_copy_asdict
  cornflakes/decorator/dataclass/_dataclass.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix all tests
  build.py
  cornflakes/decorator/click/_click_cli.py
  cornflakes/decorator/click/options/_auto_option.py
  cornflakes/decorator/datalite/commons.py
  cornflakes/decorator/datalite/migrations.py
  noxfile.py
  pyproject.toml
  tests/test_datalite.py
  tests/test_speed.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix typeguard error
  cornflakes/decorator/click/rich/_rich_click.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

run pre-commit
  cornflakes/decorator/click/rich/_rich_click.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

update dependencies
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change build process for nox tests
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change install dependencies step
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

change pyproject.toml - dep source
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change nox conf install process
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

cahnge tests workflow
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

change pyproject toml
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change pyproject toml
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

change priority
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

update pre-commit
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Bump version from 3.3.4 to 3.3.5
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  cornflakes/decorator/dataclass/_field.py
  cornflakes/decorator/dataclass/helper.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix logging module
  cornflakes/__main__.py
  cornflakes/decorator/click/_click_cli.py
  cornflakes/decorator/click/rich/__init__.py
  cornflakes/decorator/click/rich/_rich_global_option_wrapper.py
  cornflakes/logging/logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.3.5 to 3.3.6
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

fix logging module
  cornflakes/logging/logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix typeguard error
  cornflakes/decorator/click/rich/__init__.py
  cornflakes/decorator/click/rich/_rich_group.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 462839793402493e156fa7eabd54b16b846ecf05
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  contributing.html
  cornflakes.builder.html
  cornflakes.common.html
  cornflakes.decorator.click.html
  cornflakes.decorator.click.options.html
  cornflakes.decorator.click.rich.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.datalite.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

add BaseModel compatibility to Field Class
  cornflakes/decorator/dataclass/_field.py
  poetry.lock
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp|pytest
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
