Repository GentleGhostCoder/cornflakes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system
  args:
  - --unsafe

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

fix enforce types for Optional if None
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix enforce types for Optional if None
  cornflakes/decorator/dataclass/_enforce_types.py
  tests/configs/sub_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add test for Optional fix
  tests/configs/default.ini
  tests/configs/default_auto_created.ini
  tests/test_config_module.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add logs
  cornflakes/click/options/_auto_option.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix auto option
  cornflakes/click/options/_auto_option.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix default logging handler to rich_console
  cornflakes/click/options/_auto_option.py
  cornflakes/logging/_logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

overwrite default logging handler to rich_console
  cornflakes/logging/_logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

running setup_logging at module load time
  cornflakes/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

running setup_logging at module load time
  cornflakes/__init__.py
  cornflakes/logging/_logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Bump version from 3.0.9 to 3.1.0
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

bump version to 3.1.0
  cornflakes/logging/_logger.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 750738e9c54db7c256ae0117aee4f353072c02be
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix tests
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  cornflakes/click/options/_verbose.py
  cornflakes/logging/__init__.py
  cornflakes/logging/logger.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 1fd124e44c023447ceaa44ae4286440f2044722e
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

change endian
  inst/_cornflakes/endian.h
Due: check-added-large-files, end-of-file-fixer

change github actions macos version
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
  .github/workflows/run_tests.yml
  inst/_cornflakes/string_operations.cpp
Due: check-added-large-files, check-yaml, end-of-file-fixer

change macos version
  .github/workflows/build_package.yml
  .github/workflows/publish_package.yml
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

change portable endian file
  inst/_cornflakes/endian.h
Due: check-added-large-files, end-of-file-fixer

Bump version from 3.1.1 to 3.1.2
  .cookietemple.yml
  .github/release-drafter.yml
  cookietemple.cfg
  cornflakes/__init__.py
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 72b286ce8597b01cbaa96db50f3ac8692e57de32
  .buildinfo
  _static/documentation_options.js
  authors.html
  code_of_conduct.html
  conflates.html
  contributing.html
  cornflakes.builder.html
  cornflakes.cli.html
  cornflakes.click.html
  cornflakes.click.options.html
  cornflakes.click.rich.html
  cornflakes.common.html
  cornflakes.decorator.config.html
  cornflakes.decorator.dataclass.html
  cornflakes.decorator.dataclass.validator.html
  cornflakes.decorator.html
  cornflakes.html
  cornflakes.logging.html
  cornflakes.parser.html
  examples.html
  genindex.html
  index.html
  installation.html
  modules.html
  objects.inv
  readme.html
  reference.html
  requirements.html
  search.html
  usage.html
Due: check-added-large-files, end-of-file-fixer

fix load missing configs with default value
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

change log warnining to debug
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add setup_logging at cli decorator
  cornflakes/decorator/_click_cli.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix load_config
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix load_config
  cornflakes/decorator/config/_load_config_group.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix config load
  build.py
  cornflakes/decorator/config/_load_config.py
  cornflakes/decorator/dataclass/_enforce_types.py
  docs/requirements.txt
  examples/fastapi_settings.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

deploy: 7e8211f37397d7b068780d8ab198a871c95a9bb9
  _sources/requirements.txt
  requirements.html
Due: check-added-large-files, end-of-file-fixer

fix read multiple files into multiple configs when is a list
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix enforce types Union
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix enforce types Union Union[Literal[minimal, all, nonnumeric, none], int]
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix not read sections without matching keys into config-class
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

fix not read sections without matching keys into config-class
  cornflakes/decorator/config/_load_config.py
  htw-logger.ini
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add feature to chain configs into single config
  cornflakes/decorator/_types.py
  cornflakes/decorator/config/_config.py
  cornflakes/decorator/config/_config_group.py
  cornflakes/decorator/config/_load_config.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

add feature for requirsive enforce types for dataclasses inside dataclasses
  cornflakes/decorator/dataclass/_enforce_types.py
Due: black, check-added-large-files, end-of-file-fixer, autoflake, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: (?x)^(
inst/_cornflakes/strtk/strtk.hpp
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  autoflake: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
